* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: mediumslateblue; */
    
    font-family: "Luckiest Guy", cursive;
    min-height: 100vh;
     display: flex;
    flex-direction: column;
    transition: background-color 0.5s, color 0.5s;
}

.light-theme {
    background: #fff;
  
}

.dark-theme {
    background-color: black;
    color: white;

    .todo, .select, form button, form input {
        box-shadow: none;
    }
    
    #theme-toggle {
        margin: 2rem;
        color: rgb(0, 0, 0);
        background: #ffffff;
        border: 1px solid rgb(0, 0, 0);
        border-radius: 5px;
        box-shadow: none;
        padding: 5px;
    }
}

header {
    font-size: 1.5rem;
}
main{
    flex: 1;
}

header, 
form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, 
form button {
    padding: 0.5rem;
    padding-left: 1rem;
    font-size: 1.8rem;
    border: none;
    background: rgb(243, 243, 243);
    border-radius: 2rem;
    color: rgb(0, 0, 0);
    box-shadow: 2px 2px 10px rgb(182, 182, 182);
}

form button {    
    color: rgb(0, 60, 138);/* Dark pastel green */
    background: rgb(215, 213, 213);
    cursor: pointer;
    transition: all 0.3 ease;
    margin-left: 0.5rem;
    box-shadow: 2px 2px 10px rgb(182, 182, 182);
}

form button:hover {
    color: rgb(215, 213, 213);
    background: rgb(0, 0, 0);
}

.fa-plus-circle {
    margin-top: 0.3rem;
    margin-left: -8px;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    min-width: 30%;
    list-style: none;
      display: flex; /* Added flex display */
  flex-wrap: wrap; /* Added to wrap the items */
}

.todo {
    margin: 0.5rem;
    padding-left: 0.5rem;
    background: rgb(243, 243, 243); /*Alabaster*/
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    border-bottom-right-radius: 18px;
    border-top-right-radius: 2px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 2px 2px 10px rgb(182, 182, 182);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.todo li {
    flex: 1;
}

.trash-btn, 
.complete-btn {
    color: rgb(62, 104, 4); /*Alabaster*/
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1.5rem;
}

.complete-btn {
    background: rgb(254, 255, 239);/* Dark pastel green */
}

.trash-btn {
   border-top-right-radius: 2px;
    border-bottom-right-radius: 15px;
    background: rgb(252, 231, 231);
    color: rgb(125, 4, 4);
}

.todo-item {
    padding: 0rem 0.5rem;
}

.fa-trash, 
.fa-check-circle {
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
    color: rgb(0, 0, 0);
}

.explode {
    animation: explode 0.5s forwards;
  }
  
  @keyframes explode {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.5) rotate(random(360deg));
      opacity: 0.5;
    }
    100% {
      transform: scale(2) rotate(random(360deg));
      opacity: 0;
    }
  }

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
}

.select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 7px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
      box-shadow: 2px 2px 10px rgb(182, 182, 182);
}

select {
    color:rgb(0, 0, 0); /*Tomato*/
    width: 10rem;
    height: 3.2rem;
    cursor: pointer;
    padding: 1rem;
    background: rgb(220, 220, 220);
    box-shadow: 2px 2px 10px rgb(182, 182, 182);
}

.select::after {
    color: rgb(255, 255, 255);
    content: "\25BC";
    position: absolute;
    background:rgb(108, 108, 108); /*Tomato*/
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    transition: all 0.3s ease;
}

.select:hover::after {
    background: rgb(255, 255, 255); /*Alabaster*/
    color: rgb(108, 108, 108); /*Tomato*/
}

#theme-toggle {
    margin: 2rem;
    color: white;
    background: #000;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgb(182, 182, 182);
    padding: 5px;
}
footer {
    position: relative;
    padding: 1em;
    text-align: center;
    color: rgb(129, 0, 0);
   
}

@media (max-width: 600px) {
    header {
        font-size: 1.2rem;
    }

    form input, form button {
        font-size: 1rem;
    }

    form {
        margin: 10px;
    }

    .todo-container {
         margin: 20px;
    }

    .todo {
        font-size: 1rem;
    }

    .trash-btn, .complete-btn {
        padding: 0.3rem;
        font-size: 1rem;
    }
}
